@model List<MyAkademi_CQRSProject.CQRSPattern.Results.GetCategoryQueryResult>

@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />


<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>@item.CategoryID</tr>
            <tr>@item.CategoryName</tr>
        }
    </table>
</div>